/* Reset básico */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Tipografía y colores base */
body {
  font-family: Arial, Helvetica, sans-serif;
  background: #ad9f25;
  color: #333;
  line-height: 1.5;
}

/* Encabezado */
header {
  background: #333;
  color: white;
  padding: 20px;
}

header h1 {
  margin-bottom: 10px;
}

/* Navegación */
nav ul {
  list-style: none;
  display: flex;
  gap: 20px;
}

nav a {
  color: rgb(255, 140, 0);
  text-decoration: none;
  font-weight: bold;
}

img {
  max-width: 100%;
  height: auto;
}
